{% extends "app/layout.html" %}
{% load static %}
{% block title %}
<title>NC Daily | About</title>
{% endblock %}

{% block content %}
<div class="features">
    <h1 style="text-align: center">Features</h1>
    <h2>Sorting</h2>
    <p>The notices are split into two sections. New notices are the <i>unique</i> notices for the day. Past notices are the <i>double-ups.</i></p>
    <img src="{% static 'assets/sorted.svg' %}">

    <h2>Email Button</h2>
    <p>This will email whoever made the notice. It autofills the subject and recepient fields so you save time.</p>
    <img src="{% static 'assets/email.svg' %}">

    <h2>Calendar Button</h2>
    <p>This will add an event to your calendar with the subject and day filled out. At the moment the time is always 8.15am, but this will be fixed soon.</p>
    <img src="{% static 'assets/calendar.svg' %}">

    <h2>Search Tool</h2>
    <p>Use Gmail to search for time, day, location, teacher and event of the notice.</p>
    <img src="{% static 'assets/search.svg' %}">
</div>

{% endblock %}
